.info-card {
  background-color: #f1f1f1;
  width: 660px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  flex-direction: column;
  display: flex;
}

.title-info-card-important {
  font-family: 'Roboto', sans-serif;
  color: #e31b24;
  margin-left: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
}

.title-info-card {
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin-left: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
}


.text-info-card {
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin-top: 30px;
  font-size: 18px;
  text-align: justify;  
  white-space: pre-line;
}

.button-collapse {
  width: 35px;
  height: 35px;
  
  justify-content: center;
  align-items: center;
  
  border-radius: 5px;
  border: 0;
  background:  #e31b24;
  color: #fff;
  cursor: pointer;
}

.button-collapse:hover {
  opacity: 0.7;
}

.content-button-title {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.see-more{
  margin-top: 20px;
  color: rgb(39, 151, 216);
  font-weight: bold;
}

.see-more:hover{
  cursor: pointer;
  text-decoration: underline;
}

.modal-90w{
  width: 90% !important;
}

.divisor{
  border-bottom: 1px solid rgb(116, 115, 115);
  margin-top: 70px;
  margin-bottom: 70px;
}

.text-divisor{
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin-top: 30px;
  font-size: 30px;
  text-align: justify;  
  white-space: pre-line;

}

/* .warning-interactions {
  background-color: #e31b24;
  border-radius: 5px;
  margin-top: 15px;
  padding: 20px;
  max-width: 1000px;
  flex-direction: column;
  display: flex
}
  
.warning-interactions-title {
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
  font-weight: bold;
}
  
.text-interactions {
  font-size: 16px;
  color: white;
  margin-bottom: 30px;
}

.warning-actives {
  background-color: #5271ff;
  border-radius: 5px;
  margin-top: 15px;
  padding: 20px;
  max-width: 1000px;
  flex-direction: column;
  display: flex
}

.warning-actives-title {
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
  font-weight: bold;
}

.text-actives {
  font-size: 16px;
  color: white;
  margin-bottom: 30px;
} */
